@charset "EUC-KR";


/*  肉     疫꿸       源  */
nav {
  
  top:0;
 
  width: 100%;
  height: 15%;
  position: relative; 
  display: flex;    /* flex           瑗      源 */
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
  box-sizing: border-box;
  

}

/* 肉      湲            堉        */



  
.header {
        z-index: 1; }

/*    */
nav ul {  
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}
nav ul::after {       /*::after:                      嫄백    브쑴肉    源  苑  留             곕떽 */
  display: block;
  clear: both;       /*疫       沅   袁⑹   肉   븐     釉  猷 嚥  */
  content: '';       /*content :  苑  源  釉             沅      釉     援   裕  肉                븐    */
}


/* 湲     簾ル뗀  (1   )    掠μ    苑         */
nav ul li {            
  position: relative;     
  float: left;
  /* border: 2px solid white; */
  
}

/* first-child     苑         源 域밸 肉         */
 /* nav ul li:not(:first-child) {  
   border-left: none; 
}  */


nav ul li:hover {
  background-color: lemonchiffon;
}

/*  湲     簾ル뗀  (1   )           */
nav ul li a { 
  display: inline-block;
  padding: 0.7em 5em;
  color:rgba(163, 156, 156, 0.925);
  font: 400 22px/1 'Lato', sans-serif;
  font-size: 18px;
  text-decoration: none;
  white-space: nowrap;     /* ⑤ ш 力μ    ,nowrap : https://www.codingfactory.net/10597*/
}


/*  釉     簾ル뗀    寃 疫   鈺곌   (2   ) */
nav ul ul {
  position: absolute;
  top: 100%;
  width: 100%;

}
/*  釉     簾ル뗀    寃 疫   鈺곌   (2   ) */
nav ul ul li {
  float: none;
  margin: 0; 
}

/* first-child     苑         源 域밸 肉         */
/* nav ul ul li:not(:first-child) {
  border: 2px solid white;
  border-top: none;
} */



/*         */
/*   域뱀 ⑥빵    μ   鈺곌    : https://gahyun-web-diary.tistory.com/80*/
/* .header ul li {
  perspective: 300px;    
} */

/* 釉    簾ル뗀          (2   )*/
.header ul ul {
  visibility: hidden;
  opacity: 0;
  transition: .3s ease-in-out;
  transform: rotateX(-90deg) rotateY(0);
  transform-origin: 0 0;
}

/* .header ul ul li {
  perspective: 1500px;
} */

/* 釉    簾ル뗀         (2   ) */
.header ul li:hover > ul {
  visibility: visible;
  opacity: 1;
  transform: rotateX(0) rotateY(0);
}

a:hover {
	text-decoration: none;
	color:rgba(163, 156, 156, 0.925);
}


.nav-item {
	padding-left: -5%;
	margin-left: -1%;
}
